<!doctype html>
<html>
<head>
  <title>BeeF DeetS</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div id="main" class="container-fluid">
    <div id="display-card" class="card text-center">
      <div class="card-header">
        <div id="now-playing">Placeholder</div>
      </div>
      <div class="card-body">
        <img id="cover" src="/player/album_cover.jpg" />
        <div id="controls" class="btn-group" role="group" aria-label="Basic example">
          <button id="prev-button" class="btn btn-secondary">Prev</button>
          <button id="play-button" class="btn btn-primary">Play/Pause</button>
          <button id="next-button" class="btn btn-secondary">Next</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="progress">
          <div id="progress"
            class="progress-bar"
            style="width: 0%;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}">
  </script>
</body>
</html>
